<roundcube:include file="includes/layout.html" />
<roundcube:include file="includes/menu.html" />

<h1 class="voice"><roundcube:label name="ttrss.ttrss" /></h1>

<!-- folders list -->
<div class="sidebar listbox" role="navigation" aria-labelledby="aria-label-folderlist">
  <div class="header">
    <a class="button icon back-list-button" href="#back"><span class="inner"><roundcube:label name="back" /></span></a>
    <span class="header-title username"><roundcube:var name="env:ttrss_header_title" /></span>
    <roundcube:button name="folderactions" type="link" title="folderactions" label="actions"
                      class="button icon sidebar-menu" innerclass="inner" data-popup="mailboxoptions-menu" />
  </div>
  <h2 id="aria-label-folderlist" class="voice"><roundcube:label name="arialabelfolderlist" /></h2>
  <div id="folderlist-content" class="scroller">
    <ul id="mailboxlist" class="treelist listing folderlist" role="tree">
    </ul>
  </div>
</div>

<!-- messages list -->
<div class="list listbox selected">
  <div id="messagelist-header" class="header">
    <a class="button icon menu-button" href="#menu"><span class="inner"><roundcube:label name="menu" /></span></a>
    <a class="button icon back-sidebar-button folders" href="#sidebar"><span class="inner"><roundcube:label name="mailboxlist" /></span></a>
    <span class="header-title"></span>
    <div class="toolbar" role="toolbar">
      <a class="button select active" data-popup="listselect-menu" data-toggle-button="list-toggle-button" title="<roundcube:label name="select" />"><span class="inner"><roundcube:label name="select" /></span></a>
      <a class="button threads active" data-popup="threadselect-add" title="<roundcube:label name="ttrss.add_tag" />"><span class="inner"><roundcube:label name="ttrss.add" /></span></a>
      <a class="button threads active" data-popup="threadselect-remove" title="<roundcube:label name="ttrss.remove_tag" />"><span class="inner"><roundcube:label name="ttrss.remove" /></span></a>
      <roundcube:container name="listcontrols" id="listcontrols" />
    </div>
    <roundcube:button command="checkmail" type="link" class="button icon toolbar-button refresh" label="refresh" title="checkmail" innerclass="inner" />
    <a class="button icon toolbar-menu-button" href="#list-menu"><span class="inner"><roundcube:label name="menu" /></span></a>
  </div>
  <div id="messagelist-content" class="scroller" tabindex="-1">
    <h2 id="aria-label-messagelist" class="voice"><roundcube:label name="arialabelmessagelist" /></h2>
    <table id="messagelist" class="listing messagelist sortheader fixedheader focus" aria-labelledby="aria-label-messagelist" data-list="message_list" data-label-msg="The list is empty.">
      <tbody>
      </tbody>
    </table>
  </div>
  <div class="pagenav toolbar footer small" role="toolbar">
    <roundcube:button command="firstpage" type="link"
                      class="button firstpage disabled" classAct="button firstpage"
                      title="firstpage" label="first" innerclass="inner" />
    <roundcube:button command="previouspage" type="link"
                      class="button prevpage disabled" classAct="button prevpage"
                      title="previouspage" label="previous" innerclass="inner" />
    <span class="pagenav-text" aria-live="polite" aria-relevant="text">
      <roundcube:object name="recordsCountDisplay" label="fromtoshort" />
    </span>
    <roundcube:button command="nextpage" type="link"
                      class="button nextpage disabled" classAct="button nextpage"
                      title="nextpage" label="next" innerclass="inner" />
    <roundcube:button command="lastpage" type="link"
                      class="button lastpage disabled" classAct="button lastpage"
                      title="lastpage" label="last" innerclass="inner" />
  </div>
</div>

<!-- message preview -->
<div class="content">
  <h2 id="aria-label-toolbar" class="voice"><roundcube:label name="arialabeltoolbar" /></h2>
  <div class="header" role="toolbar" aria-labelledby="aria-label-toolbar">
    <a class="button icon back-list-button" href="#back"><span class="inner"><roundcube:label name="back" /></span></a>
    <span class="header-title"></span>
    <roundcube:include file="includes/rss-menu.html" />
  </div>
  <h2 id="aria-label-mailpreviewframe" class="voice"><roundcube:label name="arialabelmailpreviewframe" /></h2>
  <div class="iframe-wrapper">
    <roundcube:object name="contentframe"
                      id="messagecontframe"
                      aria-labelledby="aria-label-mailpreviewframe"
                      src="./plugins/ttrss/skins/elastic/templates/watermark.html"
                      title="arialabelmailpreviewframe"
                      />
  </div>
</div>

<!-- popup menus -->
<div id="mailboxoptions-menu" class="popupmenu">
  <h3 id="aria-label-mailboxoptions-menu" class="voice">Menu</h3>
  <ul class="toolbarmenu listing" role="menu" aria-labelledby="aria-label-mailboxoptions-menu">
    <roundcube:button command="feed_subscribe" type="link-menuitem" prop="page" label="ttrss.feed_subscribe" class="create disabled" classAct="create active" />
    <roundcube:button command="feed_unsubscribe" data-popup="unsubscribe-menu" type="link-menuitem" prop="page" label="ttrss.feed_unsubscribe" class="delete disabled" classAct="delete active" />
  </ul>
</div>

<div id="listselect-menu" class="popupmenu">
  <h3 id="aria-label-listselect-menu" class="voice"><roundcube:label name="arialabellistselectmenu" /></h3>
  <ul class="toolbarmenu listing" role="menu" aria-labelledby="aria-label-listselect-menu">
    <roundcube:button type="link-menuitem" label="selection" class="selection active" classAct="selection active"
                      name="list-toggle-button" id="list-toggle-button"
                      onclick="if ($(this).is('.active')) $('#messagelist').toggleClass('withselection');" />
    <roundcube:button command="select-all" type="link-menuitem" label="all" class="select all" classAct="select all active" />
    <roundcube:button command="select-unread" type="link-menuitem" prop="unread" label="unread" class="select unread" classAct="select unread active" />
    <roundcube:button command="select-invert" type="link-menuitem" prop="invert" label="invert" class="select invert" classAct="select invert active" />
    <roundcube:button command="select-none" type="link-menuitem" label="none" class="select none" classAct="select none active" />
  </ul>
</div>

<div id="threadselect-add" class="popupmenu">
  <h3 id="aria-label-threadselectmenu" class="voice"><roundcube:label name="arialabelthreadselectmenu" /></h3>
  <ul class="toolbarmenu listing" role="menu" aria-labelledby="aria-label-threadselectmenu">
  </ul>
</div>
<div id="threadselect-remove" class="popupmenu">
  <h3 id="aria-label-threadselectmenu" class="voice"><roundcube:label name="arialabelthreadselectmenu" /></h3>
  <ul class="toolbarmenu listing" role="menu" aria-labelledby="aria-label-threadselectmenu">
  </ul>
</div>

<roundcube:include file="includes/subscribe-menu.html" />

<roundcube:include file="includes/footer.html" />
