<roundcube:add_label name="viewsource" />
<div id="mailtoolbar" class="toolbar" role="toolbar">
  <roundcube:button command="forward" type="link"
                    class="button forward disabled" classAct="button forward"
                    label="forward" title="forwardmessage" innerclass="inner" />
  <span class="spacer"></span>
  <roundcube:container name="toolbar" id="mailtoolbar" />
  <!--   <roundcube:button name="markmenulink" id="markmessagemenulink" type="link"
class="button markmessage" label="mark" title="markmessages"
data-popup="markmessage-menu" innerclass="inner" /> -->
  <!--   <roundcube:button type="link" command="print" label="printmessage" class="button print" classAct="button print active" data-hidden="small"/> -->
  <!--   <roundcube:button type="link" command="download" label="export" class="button download" classAct="button download active" /> -->
  <roundcube:button type="link" command="open" label="openinextwin" class="button extwin disabled" classAct="button extwin active" data-hidden="small" />
  <span class="spacer"></span>
  <roundcube:button type="link" command="previousarticle" label="previous" class="button prevpage disabled" classAct="button prevpage active" data-hidden="small" />
  <roundcube:button type="link" command="nextarticle" label="next" class="button nextpage disabled" classAct="button nextpage active" data-hidden="small" />
</div>

<div id="forward-menu" class="popupmenu">
  <h3 id="aria-label-forward-menu" class="voice"><roundcube:label name="arialabelforwardingoptions" /></h3>
  <ul class="toolbarmenu listing" role="menu" aria-labelledby="aria-label-forward-menu">
    <roundcube:button type="link-menuitem" command="forward-inline" label="forwardinline" prop="sub" class="forward inline" classAct="forward inline active" />
    <roundcube:button type="link-menuitem" command="forward-attachment" label="forwardattachment" prop="sub" class="forward attachment" classAct="forward attachment active" />
    <roundcube:container name="forwardmenu" id="forward-menu" />
  </ul>
</div>

<div id="markmessage-menu" class="popupmenu">
  <h3 id="aria-label-markmessage-menu" class="voice"><roundcube:label name="arialabelmarkmessagesas" /></h3>
  <ul class="toolbarmenu listing" role="menu" aria-labelledby="aria-label-markmessage-menu">
    <roundcube:button type="link-menuitem" command="mark" prop="read" label="markread" classAct="read active" class="read" />
    <roundcube:button type="link-menuitem" command="mark" prop="unread" label="markunread" classAct="unread active" class="unread" />
    <roundcube:container name="markmenu" id="markmessage-menu" />
  </ul>
</div>