.toolbar a.button.extwin:before{
  content: "\f360"}

body>#layout>div.content .iframe-wrapper{
  /* position: fixed; */
  background-color: #FFFFFF;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0}

.message:hover #flagicnrcmrowOTE:before{
  content: "\f005"}
.messagelist span.flagged:before{
  content: "\f005"}

.messagelist td.flags span.attachment span.tag:before{
  content: "\f02b"}
.messagelist td.flags span.attachment span.tags:before{
  content: "\f02c"}

.toolbar a.button.threads:before{
  content: "\f02c"}
.toolbarmenu li a.expand.all:before, .toolbarmenu li a.expand.unread:before, .toolbarmenu li a.expand.none:before{
  content: "\f02b"}

.messagelist .message.unread td.subject span.msgicon.status:before{
  color: #ffd452}

#trsPrCAT-1 a:before{
  font-weight: 600;
  content: "\f005"}

#trsPrCAT-1 #trsSpCAT-1 a:before{
  font-weight: 600;
  content: "\f005"}
#trsPrCAT-1 #trsSpCAT-2 a:before{
  font-weight: 600;
  content: "\f1e1"}

#trsPrCAT-2 a:before{
  font-weight: 600;
  content: "\f02c"}

#trsSpCAT-2 a:before{
  font-weight: 600;
  content: "\f02c"}
#trsSpCAT-3 a:before{
  font-weight: 600;
  content: "\f070"}
#trsSpCAT-4 a:before{
  font-weight: 600;
  content: "\f03a"}
#trsSpCAT-6 a:before{
  content: "\f06e"}
#trsSpCAT0 a:before{
  content: "\f187"}

.folderlist li.feed a:before{
  font-weight: 600;
  content: "\f09e"}

ul#mailboxlist li.label a:before{
  font-weight: 600;
  content: "\f02b"}