.toolbar a.button.macro:before{
	content: "\f0d0"}
.toolbar a.button.save:before{
	content: "\f0c7"}

.message:hover #flagicnrcmrowOTE:before{
	content: "\f005"}
.messagelist span.flagged:before{
	content: "\f005"}

.messagelist span.attachment span:before{
	content: "\f02b"}
.messagelist span.attachments span:before{
	content: "\f02c"}

.messagelist .message.unread td.subject span.msgicon.status:before{
	color: #ffd452}

#folderlist-content #countdown{
	position:absolute;
	bottom:0;
	right:0}

#wdliFLDfull>a:before{
	content: "\f07b"}
#wdliFLDempty>a:before{
	content: "\f07b"}

#wdliFLfile>a:before{
	content: "\f15c"}
#wdliFLtab>a:before{
	content: "\f15b"}

#wdliFLpreview>a:before{
	content: "\f016"}
#wdliFLotp>a:before{
	content: "\f328"}
#wdliFLftp>a:before{
	content: "\f233"}
#wdliFLzip>a:before{
	content: "\f1c6"}
#wdliFLpicture>a:before{
	content: "\f1c5"}
#wdliFLmusic>a:before{
	content: "\f1c7"}
#wdliFLvideo>a:before{
	content: "\f1c8"}
#wdliFLurl>a:before{
	content: "\f1c9"}